<body class="signedMain">
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" href="#">일어나요(가제)</a>
    	</div>

    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav">
				<li class="active"><a href="#">로그아웃</a></li>
        		<li><a href="#">방만들기</a></li>
        	
    		</ul>
    	</div>
	</div>
</nav>


<div class="section col-sm-2 signedSide Tbor">
    <div class="container tim-container">
        <div class="side_title"></div>
        <div class="row">
            <p>유저</p>   
		</div>
		<div class="row">
            <p>명단</p>   
		</div>
		<div class="row">
            <p>댓글</p>   
		</div>
		<div class="row">
            <p>댓글입력</p>
		</div>
	</div>
</div>


<div class="section col-sm-6 signedCal Tbor">
		<%= month_calendar do |date| %>
  		<%= date.mday %>
		<% end %>
</div>







<div class="section col-sm-3 signedCert Tbor">
    <div class="container tim-container">
        <div class="row">
            나머지 정보칸
		</div>
	</div>
</div>
</body>