<form action="/create" method = "get">
    <p>방 이름</p>
     <input name="room_name">
     
    <p>인원</p>
    <div class="btn-group" role="group" aria-label="...">
      <input type="radio" name="num" value="3" checked>3<br>
      <input type="radio" name="num" value="4">4<br>
      <input type="radio" name="num" value="5">5<br>
      <input type="radio" name="num" value="6">6<br>
      <input type="radio" name="num" value="7">7<br>
      <input type="radio" name="num" value="8">8<br>
    </div>
    
    <p></p><p></p><p></p>
    <p>인증 방법</p>


  <input type="radio" name="certi" value="picture" checked> picture<br>
  <input type="radio" name="certi" value="question"> question<br>
  <input type="submit" value="Submit">
</form> 