<body class="index-page">

<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
	<div class="container">
        <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
	    </div>

	    <div class="collapse navbar-collapse" id="navigation-index">
	    	<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#about_us" target="_blank">
						<i class="material-icons">help_outline</i> About us
					</a>
				</li>
				<li>
					<a href="/users/sign_in" target="_blank">
						<i class="material-icons">account_box</i> Log-in
					</a>
				</li>
				<li>
					<a href="/users/sign_up" target="_blank">
						<i class="material-icons">input</i> Sign-up
					</a>
				</li>
	    	</ul>
	    </div>
	</div>
</nav>
<!-- End Navbar -->

<div class="wrapper">
	<div class="header header-filter" style="background-image: url('assets/study_6.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>일어나요!!</h1>
						<h3>모두 같이 모닝 스터디 삼매경</h3>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="main main-raised" id="about_us">
		<div class="section section-basic">
	    	<div class="container">
	            <div class="title">
	            <h1> </h1>
	            </div>

		        <div id="buttons">
					<div class="title">
						<h3>잠깐만요!<br />
							<small>아침에 일어나기 힘드신가요? 동기 부여가 필요하세요?</small>
						</h3>
					</div>
				
	                <div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                    lllo
	                    </div>
	                </div>

		        </div>
		    </div>
		</div>
	</div>

	<div class="main main-unraised" id="about_us">
		<div class="section section-basic">
	    	<div class="container">
	            <div class="title">
	            <h1> </h1>
	            </div>

		        <div id="buttons">
					<div class="title">
						<h3>잠깐만요!<br />
							<small>아침에 일어나기 힘드신가요? 동기 부여가 필요하세요?</small>
						</h3>
					</div>
	                <div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        lllo	                   
	                    </div>
	                </div>

		        </div>
		    </div>
		</div>
	</div>
	   
    <footer class="footer">
	    <div class="container">
	        <nav class="pull-left">
	            <ul>
					<li>
						<a href="http://www.creative-tim.com">
							Main
						</a>
					</li>
					<li>
						<a href="http://presentation.creative-tim.com">
						   About Us
						</a>
					</li>
					<li>
						<a href="http://blog.creative-tim.com">
						   Blog
						</a>
					</li>
					<li>
						<a href="http://www.creative-tim.com/license">
							Licenses
						</a>
					</li>
	            </ul>
	        </nav>
	        <div class="copyright pull-right">
	            &copy; 2017, made by 일어나요.
	        </div>
	    </div>
	</footer>
</div>

<!-- Sart Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-simple">Nice Button</button>
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--  End Modal -->


</body>